@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.scroller {
  --animation-duration: 20s; /* Default duration */
  --animation-direction: normal; /* Default direction */
}

* {
  scrollbar-width: thin;
}

.animate-scroll {
  animation: scroll var(--animation-duration) linear infinite
    var(--animation-direction);
}

.text_button {
  border-radius: 1.5rem;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_button .span-mother {
  display: flex;
  overflow: hidden;
  color: #381c10;
}

.text_button:hover .span-mother {
  position: absolute;
}

.text_button:hover .span-mother span {
  transform: translateY(1.2em);
}

.text_button .span-mother span:nth-child(1) {
  transition: 0.2s;
}

.text_button .span-mother span:nth-child(2) {
  transition: 0.3s;
}

.text_button .span-mother span:nth-child(3) {
  transition: 0.4s;
}

.text_button .span-mother span:nth-child(4) {
  transition: 0.5s;
}

.text_button .span-mother span:nth-child(5) {
  transition: 0.6s;
}

.text_button .span-mother span:nth-child(6) {
  transition: 0.7s;
}

.text_button .span-mother span:nth-child(7) {
  transition: 0.8s;
}

.text_button .span-mother span:nth-child(8) {
  transition: 0.9s;
}

.text_button .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
  color: #92522b;
}

.text_button .span-mother2 span {
  transform: translateY(-1.3em);
}

.text_button:hover .span-mother2 span {
  transform: translateY(0);
}

.text_button .span-mother2 span {
  transition: 0.2s;
}

.text_button .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}

.text_button .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}

.text_button .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}

.text_button .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}

.text_button .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}

.text_button .span-mother2 span:nth-child(7) {
  transition: 0.8s;
}

.text_button .span-mother2 span:nth-child(8) {
  transition: 0.9s;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
  display: flex;
  padding: 10px 20px 10px 30px;
  text-decoration: none;
  font-size: 26px;
  color: white;
  background: #afaba3;
  transition: 1s;
  box-shadow: 6px 6px 0 rgb(0, 0, 0);
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #e2cbff;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 15px;
}

.cta span {
  transform: skewX(15deg);
}

.cta span:nth-child(2) {
  width: 20px;
  margin-left: 10px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #e2cbff;
  }
  100% {
    fill: white;
  }
}

@keyframes floatDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.float-down {
  animation: floatDown 3s ease-out;
}

.grid_container {
  position: relative;
  width: 100%; /* Ensure it takes up the desired width */
  height: 100%; /* Ensure it takes up the desired height */
}

.my_grid {
  position: relative; /* Ensure Hero component is not affected by background */
  z-index: 10; /* Ensure Hero appears above the background */
}

.my_grid::before {
  content: ""; /* Required to make pseudo-element work */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 200px,
    #ffdc9b 200px,
    #ffdc9b 202px
  );
  z-index: -1; /* Place the gradient behind the Hero component */
  animation: rotateGradient 10s linear infinite;
}

.my_grid {
  position: relative; /* Ensure Hero component is not affected by background */
  z-index: 10; /* Ensure Hero appears above the background */
}

.my_grid::before {
  content: ""; /* Required to make pseudo-element work */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 200px,
    #ffdc9b 200px,
    #ffdc9b 202px
  );
  z-index: -1; /* Place the gradient behind the Hero component */
  animation: rotateGradient 2s linear;
}

.bars_bg {
  background-image: repeating-linear-gradient(
    to right,
    #ffdc9b,
    #ffdc9b 2px,
    transparent 2px,
    transparent
  );
  background-size: 160px 160px;
  background-color: #fafafa;
}

.space {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 3px;
  width: 3px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -42vw -4vh 0px 0px #fff, 25vw -41vh 0px 0px #fff,
    -20vw 49vh 0px 1px #fff, 5vw 40vh 1px 1px #fff, 29vw 19vh 1px 0px #fff,
    -44vw -13vh 0px 0px #fff, 46vw 41vh 0px 1px #fff, -3vw -45vh 0px 1px #fff,
    47vw 35vh 1px 0px #fff, 12vw -8vh 1px 0px #fff, -34vw 48vh 1px 1px #fff,
    32vw 26vh 1px 1px #fff, 32vw -41vh 1px 1px #fff, 0vw 37vh 1px 1px #fff,
    34vw -26vh 1px 0px #fff, -14vw -49vh 1px 0px #fff, -12vw 45vh 0px 1px #fff,
    -44vw -33vh 0px 1px #fff, -13vw 41vh 0px 0px #fff, -36vw -11vh 0px 1px #fff,
    -23vw -24vh 1px 0px #fff, -38vw -27vh 0px 1px #fff, 16vw -19vh 0px 0px #fff,
    28vw 33vh 1px 0px #fff, -49vw -4vh 0px 0px #fff, 16vw 32vh 0px 1px #fff,
    36vw -18vh 1px 0px #fff, -25vw -30vh 1px 0px #fff, -23vw 24vh 0px 1px #fff,
    -2vw -35vh 1px 1px #fff, -25vw 9vh 0px 0px #fff, -15vw -34vh 0px 0px #fff,
    -8vw -19vh 1px 0px #fff, -20vw -20vh 1px 1px #fff, 42vw 50vh 0px 1px #fff,
    -32vw 10vh 1px 0px #fff, -23vw -17vh 0px 0px #fff, 44vw 15vh 1px 0px #fff,
    -40vw 33vh 1px 1px #fff, -43vw 8vh 0px 0px #fff, -48vw -15vh 1px 1px #fff,
    -24vw 17vh 0px 0px #fff, -31vw 50vh 1px 0px #fff, 36vw -38vh 0px 1px #fff,
    -7vw 48vh 0px 0px #fff, 15vw -32vh 0px 0px #fff, 29vw -41vh 0px 0px #fff,
    2vw 37vh 1px 0px #fff, 7vw -40vh 1px 1px #fff, 15vw 18vh 0px 0px #fff,
    25vw -13vh 1px 1px #fff, -46vw -12vh 1px 1px #fff, -18vw 22vh 0px 0px #fff,
    23vw -9vh 1px 0px #fff, 50vw 12vh 0px 1px #fff, 45vw 2vh 0px 0px #fff,
    14vw -48vh 1px 0px #fff, 23vw 43vh 0px 1px #fff, -40vw 16vh 1px 1px #fff,
    20vw -31vh 0px 1px #fff, -17vw 44vh 1px 1px #fff, 18vw -45vh 0px 0px #fff,
    33vw -6vh 0px 0px #fff, 0vw 7vh 0px 1px #fff, -10vw -18vh 0px 1px #fff,
    -19vw 5vh 1px 0px #fff, 1vw 42vh 0px 0px #fff, 22vw 48vh 0px 1px #fff,
    39vw -8vh 1px 1px #fff, -6vw -42vh 1px 0px #fff, -47vw 34vh 0px 0px #fff,
    -46vw 19vh 0px 1px #fff, -12vw -32vh 0px 0px #fff, -45vw -38vh 0px 1px #fff,
    -28vw 18vh 1px 0px #fff, -38vw -46vh 1px 1px #fff, 49vw -6vh 1px 1px #fff,
    -28vw 18vh 1px 1px #fff, 10vw -24vh 0px 1px #fff, -5vw -11vh 1px 1px #fff,
    33vw -8vh 1px 0px #fff, -16vw 17vh 0px 0px #fff, 18vw 27vh 0px 1px #fff,
    -8vw -10vh 1px 1px #fff;
  box-shadow: 24vw 9vh 1px 0px #fff, 12vw -24vh 0px 1px #fff,
    -45vw -22vh 0px 0px #fff, -37vw -40vh 0px 1px #fff, 29vw 19vh 0px 1px #fff,
    4vw -8vh 0px 1px #fff, -5vw 21vh 1px 1px #fff, -27vw 26vh 1px 1px #fff,
    -47vw -3vh 1px 1px #fff, -28vw -30vh 0px 1px #fff, -43vw -27vh 0px 1px #fff,
    4vw 22vh 1px 1px #fff, 36vw 23vh 0px 0px #fff, -21vw 24vh 1px 1px #fff,
    -16vw 2vh 1px 0px #fff, -16vw -6vh 0px 0px #fff, 5vw 26vh 0px 0px #fff,
    -34vw 41vh 0px 0px #fff, 1vw 42vh 1px 1px #fff, 11vw -13vh 1px 1px #fff,
    48vw -8vh 1px 0px #fff, 22vw -15vh 0px 0px #fff, 45vw 49vh 0px 0px #fff,
    43vw -27vh 1px 1px #fff, 20vw -2vh 0px 0px #fff, 8vw 22vh 0px 1px #fff,
    39vw 48vh 1px 1px #fff, -21vw -11vh 0px 1px #fff, -40vw 45vh 0px 1px #fff,
    11vw -30vh 1px 0px #fff, 26vw 30vh 1px 0px #fff, 45vw -29vh 0px 1px #fff,
    -2vw 18vh 0px 0px #fff, -29vw -45vh 1px 0px #fff, -7vw -27vh 1px 1px #fff,
    42vw 24vh 0px 0px #fff, 45vw -48vh 1px 0px #fff, -36vw -18vh 0px 0px #fff,
    -44vw 13vh 0px 1px #fff, 36vw 16vh 0px 1px #fff, 40vw 24vh 0px 0px #fff,
    18vw 11vh 0px 0px #fff, -15vw -23vh 1px 0px #fff, -24vw 48vh 0px 1px #fff,
    27vw -45vh 1px 0px #fff, -2vw -24vh 0px 1px #fff, -15vw -28vh 0px 0px #fff,
    -43vw 13vh 1px 0px #fff, 7vw 27vh 1px 0px #fff, 47vw 5vh 0px 0px #fff,
    -45vw 15vh 1px 1px #fff, -5vw -28vh 0px 1px #fff, 38vw 25vh 1px 1px #fff,
    -39vw -1vh 1px 0px #fff, 5vw 0vh 1px 0px #fff, 49vw 13vh 0px 0px #fff,
    48vw 10vh 0px 1px #fff, 19vw -28vh 0px 0px #fff, 4vw 7vh 0px 0px #fff,
    21vw 21vh 1px 1px #fff, -15vw -15vh 0px 1px #fff, -6vw -42vh 1px 0px #fff,
    -15vw 48vh 1px 1px #fff, -23vw 25vh 1px 1px #fff, -48vw 25vh 0px 1px #fff,
    -31vw -19vh 0px 1px #fff, 4vw 37vh 1px 1px #fff, -43vw 28vh 0px 0px #fff,
    3vw -25vh 0px 1px #fff, -39vw 14vh 0px 1px #fff, -40vw 31vh 0px 1px #fff,
    35vw -36vh 1px 1px #fff, 16vw 49vh 0px 0px #fff, 6vw 39vh 0px 0px #fff,
    3vw -35vh 0px 1px #fff, -44vw -2vh 1px 0px #fff, -6vw 21vh 1px 0px #fff,
    48vw 9vh 1px 1px #fff, -43vw 30vh 1px 1px #fff, 29vw -12vh 1px 1px #fff,
    -48vw 13vh 1px 0px #fff, -42vw 32vh 1px 1px #fff, 34vw 15vh 1px 1px #fff,
    29vw -37vh 1px 1px #fff, 28vw 2vh 0px 0px #fff;
  animation: zoom 8s alternate infinite;
}

.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
}

.cardContainer .card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -25%;
  height: 500px;
  width: 100%;
  border-radius: 16px;
  transform-origin: top;
}

.cardContainer .card h2 {
  text-align: center;
  margin: 0px;
  font-size: 28px;
}

.cardContainer .card .body {
  display: flex;
  height: 100%;
  margin-top: 50px;
  gap: 50px;
}

.cardContainer .card .body .description {
  width: 40%;
  position: relative;
  top: 10%;
}

.cardContainer .card .body .description p {
  font-size: 16px;
}

.cardContainer .card .body .description p::first-letter {
  font-size: 28px;
  font-family: "Title";
}

.cardContainer .card .body .description span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardContainer .card .body .description span a {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.cardContainer .card .body .imageContainer {
  position: relative;
  width: 60%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.cardContainer .card .body .imageContainer .inner {
  width: 100%;
  height: 100%;
}

.cardContainer .card .body .imageContainer img {
  object-fit: cover;
}

.gallery {
  height: 175vh;
  background: rgb(45, 45, 45);
  position: relative;
  display: flex;
  gap: 2vw;
  padding: 2vw;
  box-sizing: border-box;
  overflow: hidden;
}

.gallery .column {
  position: relative;
  height: 100%;
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.gallery .column .imageContainer {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
}

.gallery .column .imageContainer img {
  object-fit: cover;
}

.gallery .column:nth-of-type(1) {
  top: -45%;
}

.gallery .column:nth-of-type(2) {
  top: -95%;
}

.gallery .column:nth-of-type(3) {
  top: -45%;
}

.gallery .column:nth-of-type(4) {
  top: -75%;
}

.spacer {
  height: 100vh;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes rotateGradient {
  0% {
    background: repeating-linear-gradient(
      90deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  2% {
    background: repeating-linear-gradient(
      89deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  4% {
    background: repeating-linear-gradient(
      88deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  6% {
    background: repeating-linear-gradient(
      87deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  8% {
    background: repeating-linear-gradient(
      86deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  10% {
    background: repeating-linear-gradient(
      85deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  12% {
    background: repeating-linear-gradient(
      84deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  14% {
    background: repeating-linear-gradient(
      83deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  16% {
    background: repeating-linear-gradient(
      82deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  18% {
    background: repeating-linear-gradient(
      81deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  20% {
    background: repeating-linear-gradient(
      80deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  22% {
    background: repeating-linear-gradient(
      79deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  24% {
    background: repeating-linear-gradient(
      78deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  26% {
    background: repeating-linear-gradient(
      77deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  28% {
    background: repeating-linear-gradient(
      76deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  30% {
    background: repeating-linear-gradient(
      75deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  32% {
    background: repeating-linear-gradient(
      74deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  34% {
    background: repeating-linear-gradient(
      73deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  36% {
    background: repeating-linear-gradient(
      72deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  38% {
    background: repeating-linear-gradient(
      71deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  40% {
    background: repeating-linear-gradient(
      70deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  42% {
    background: repeating-linear-gradient(
      69deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  44% {
    background: repeating-linear-gradient(
      68deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  46% {
    background: repeating-linear-gradient(
      67deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  48% {
    background: repeating-linear-gradient(
      66deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  50% {
    background: repeating-linear-gradient(
      65deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  52% {
    background: repeating-linear-gradient(
      64deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  54% {
    background: repeating-linear-gradient(
      63deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  56% {
    background: repeating-linear-gradient(
      62deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  58% {
    background: repeating-linear-gradient(
      61deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  60% {
    background: repeating-linear-gradient(
      60deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  62% {
    background: repeating-linear-gradient(
      59deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  64% {
    background: repeating-linear-gradient(
      58deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  66% {
    background: repeating-linear-gradient(
      57deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  68% {
    background: repeating-linear-gradient(
      56deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  70% {
    background: repeating-linear-gradient(
      55deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  72% {
    background: repeating-linear-gradient(
      54deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  74% {
    background: repeating-linear-gradient(
      53deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  76% {
    background: repeating-linear-gradient(
      52deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  78% {
    background: repeating-linear-gradient(
      51deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  80% {
    background: repeating-linear-gradient(
      50deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  82% {
    background: repeating-linear-gradient(
      49deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  84% {
    background: repeating-linear-gradient(
      48deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  86% {
    background: repeating-linear-gradient(
      47deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  88% {
    background: repeating-linear-gradient(
      46deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
  90% {
    background: repeating-linear-gradient(
      45deg,
      #ffffff,
      #ffffff 200px,
      #ffdc9b 200px,
      #ffdc9b 202px
    );
  }
}
